spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://db:5432/fxpayment}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    fail-on-missing-locations: true
    connect-retries: 5
    connect-retries-interval: 2s

server:
  port: 8080

